{% extends 'base.html' %}

{% block title %}
  Карта склада
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
  <div class="container">
    <button class="stellazh" onclick="redirectToAnotherPage5()">
      <div class="stellazh-text">Стеллаж 1</div>
    </button>
    <button class="stellazh" onclick="redirectToAnotherPage6()">
      <div class="stellazh-text">Стеллаж 2</div>
    </button>
    <button class="stellazh" onclick="redirectToAnotherPage7()">
      <div class="stellazh-text">Стеллаж 3</div>
    </button>
  </div>
{% endblock %}
