{% extends 'base.html' %}

{% block title %}
  page3
{% endblock %}

{% block content %}
  <h1>page3</h1>

  <script>
    function submitAnswers() {
      var quantity_input = document.getElementById('quantity-input').value
    
      // Проверка на заполнение поля формы
      if (quantity_input === '') {
        alert('Заполните поле формы')
        return
      }
    
      // Отправить данные на сервер
      fetch('/check', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ quantity_input })
      })
        .then((response) => response.json())
        .then((data) => {
          // Обновить содержимое блока <h3> с данными из сервера
          document.getElementById('csv_data_row').innerText = data.data_csv_row
    
          // Вывести информацию в блок info-of-block
          document.getElementById('info-of-block').innerHTML = generateBlockInfoHTML(data)
    
          // Сбросить значения полей формы
          document.getElementById('quantity-input').value = ''
        })
        .catch((error) => {
          console.error('Ошибка:', error)
        })
    }
    
    function generateBlockInfoHTML(data) {
      return `
                <p class="neizmenyaemi-text-inform"><a style="font-weight: bolder;">Материал:</a> &nbsp; ${data.material}</p>
                <p class="neizmenyaemi-text-inform"><a style="font-weight: bolder;">Тип:</a> &nbsp; ${data.tipe}</p>
                <p class="neizmenyaemi-text-inform"><a style="font-weight: bolder;">Стандарт:</a> &nbsp; ${data.standard}</p>
                <p class="neizmenyaemi-text-inform"><a style="font-weight: bolder;">Диаметр, мм:</a> &nbsp; ${data.diameter}</p>
                <p class="neizmenyaemi-text-inform"><a style="font-weight: bolder;">Длина, мм:</a> &nbsp; ${data.length}</p>
                <p class="neizmenyaemi-text-inform"><a style="font-weight: bolder;">Количество, шт:</a> &nbsp; ${data.quantity}</p>
            `
    }
  </script>

  <div class="wrapper">
    <input type="number" id="quantity-input" />
    <br>
    <div onclick="submitAnswers()">
      <button id="btn-confirm">Отправить</button>
    </div>
    <div id="info-of-block" style="text-align: center;"></div>
  </div>

  <h3 id="csv_data_row"></h3>

  <link href="{{ url_for('static', filename = 'scc/style_stellazh.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
