{% extends 'base.html' %}

{% block title %}
  Стеллаж 3 — Полка 3
{% endblock %}

{% block content %}
  <div class="stellazh-text">
    <a onclick="redirectToAnotherPage7()" class="ssylka2">Стеллаж 3</a> — Полка 3
  </div>
  <div id="main-container">
    <div id="left-block">
      <div id="grid-container" style="grid-template-columns: repeat(4, 1fr);">
        <div class="grid-row">
          <button class="grid-item" id="block1">1</button>
          <button class="grid-item" id="block5" style="height: 105px;">5</button>
          <button class="grid-item" id="block10">10</button>
          <button class="grid-item" id="block14">14</button>
        </div>
        <div class="grid-row">
          <button class="grid-item" id="block2">2</button>
          <button class="grid-item" id="block6" style="height: 105px;">6</button>
          <button class="grid-item" id="block11">11</button>
          <button class="grid-item" id="block15">15</button>
        </div>
        <div class="grid-row">
          <button class="grid-item" id="block3">3</button>
          <button class="grid-item" id="block7" style="height: 105px;">7</button>
          <button class="grid-item" id="block12">12</button>
          <button class="grid-item" id="block16">16</button>
        </div>
        <div class="grid-row">
          <button class="grid-item" id="block4">4</button>
          <button class="grid-item" id="block8">8</button>
          <button class="grid-item" id="block9">9</button>
          <button class="grid-item" id="block13">13</button>
          <button class="grid-item" id="block17">17</button>
        </div>
      </div>
      <!-- <div class="resizer" id="resizer"></div> -->
    </div>
    <div id="right-block">
      <div id="block-info">
        <h2 id="block-title">Выберите ячейку</h2>
        <p id="block-content">Информация о содержимом ячейки...</p>
        <div id="info-of-block"></div>
        <div id="rabota-s-kolichestvom"></div>
      </div>
    </div>
  </div>
  <!--  
  <script>
    // Инициализируем бегунок при загрузке страницы
    window.addEventListener('load', () => {
      initResizer()
    })
  </script>
    -->
  <script src="{{ url_for('static', filename = 'js/script2-3_3.js') }}" defer></script>
  <script src="{{ url_for('static', filename = 'js/script3-database.js') }}" defer></script>
  <link href="{{ url_for('static', filename = 'scc/style_stellazh.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
