{% extends 'base.html' %}

{% block title %}
Стеллаж 3
{% endblock %}

{% block content %}
  <div class="stellazh-text">Стеллаж 3</div>
  <div class="shelfs">
    <button class="shelf" onclick="redirectToAnotherPage13()"><div class="shelf-text">Полка 1</div></button>
    <button class="shelf" onclick="redirectToAnotherPage14()"><div class="shelf-text">Полка 2</div></button>
    <button class="shelf" onclick="redirectToAnotherPage15()"><div class="shelf-text">Полка 3</div></button>
  </div>
{% endblock %}
