{% extends 'base.html' %}

{% block title %}
  Стеллаж 3 — Полка 3
{% endblock %}

{% block content %}
  <div class="stellazh-text">
    <a onclick="redirectToAnotherPage7()" class="ssylka2">Стеллаж 3</a> — Полка 3
  </div>
  <div id="main-container">
    <div id="left-block">
      <div id="grid-container" style="grid-template-columns: repeat(4, 1fr);">
        <div class="grid-row">
          <button class="grid-item" id="block1" data-number="1">1</button>
          <button class="grid-item" id="block5" data-number="5" style="height: 105px;">5</button>
          <button class="grid-item" id="block10" data-number="10">10</button>
          <button class="grid-item" id="block14" data-number="14">14</button>
        </div>
        <div class="grid-row">
          <button class="grid-item" id="block2" data-number="2">2</button>
          <button class="grid-item" id="block6" data-number="6" style="height: 105px;">6</button>
          <button class="grid-item" id="block11" data-number="11">11</button>
          <button class="grid-item" id="block15" data-number="15">15</button>
        </div>
        <div class="grid-row">
          <button class="grid-item" id="block3" data-number="3">3</button>
          <button class="grid-item" id="block7" data-number="7" style="height: 105px;">7</button>
          <button class="grid-item" id="block12" data-number="12">12</button>
          <button class="grid-item" id="block16" data-number="16">16</button>
        </div>
        <div class="grid-row">
          <button class="grid-item" id="block4" data-number="4">4</button>
          <button class="grid-item" id="block8" data-number="8">8</button>
          <button class="grid-item" id="block9" data-number="9">9</button>
          <button class="grid-item" id="block13" data-number="13">13</button>
          <button class="grid-item" id="block17" data-number="17">17</button>
        </div>
      </div>
      <!-- <div class="resizer" id="resizer"></div> -->
    </div>
    <div id="right-block">
      <div id="block-info">
        <h2 id="block-title">Выберите ячейку</h2>
        <p id="block-content">Информация о содержимом ячейки...</p>
        <div id="info-of-block"></div>
        <div id="rabota-s-kolichestvom"></div>
      </div>
    </div>
  </div>
  <!--  
  <script>
    // Инициализируем бегунок при загрузке страницы
    window.addEventListener('load', () => {
      initResizer()
    })
  </script>
    -->
  <script src="{{ url_for('static', filename = 'js/script2-3_3.js') }}" defer></script>
  <script src="{{ url_for('static', filename = 'js/script2-1-2-3_1-2.js') }}" defer></script>

  <script src="{{ url_for('static', filename = 'js/script3-database.js') }}" defer></script>
  <link href="{{ url_for('static', filename = 'scc/style_stellazh.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
