html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #f4f4f4;  
    margin: 0;
    text-align: center;
    /* image-orientation: center; */
}

/* шрифт на сайте */
@font-face {
    font-family: 'GOST_Type_A';
    src: url('/static/fonts/GOST_Type_A.ttf') format('truetype');
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* transition: 0.5s; */

    font-family: 'GOST_Type_A', sans-serif;
}

/* запрещает делать печать страницы */
@media print {
    body {
        display: none;
    }
}




/* .wrapper {
    display: flex;
    flex-direction: column;
} */


header {
    /* background-image: url('/static/images/main-image.jpg'); */
    /* background-size: cover; */
    /* contain / contain в зависимости от ваших предпочтений */

    /* Другие свойства для настройки внешнего вида фона, например, цвета и позиции */

    /* цвет фона, который будет виден, если изображение не загрузится или не заполнит блок полностью */

    /* background-position: center; */
    /* позиция изображения по горизонтали и вертикали */

    /* background-repeat: no-repeat; */
    /* повторение фона */

    top: 0;
    width: 100vw;
    background-color: #333;

    color: black;

    /* position: fixed; */
    
    display: block;
    justify-content: center;

    /* margin: 0.5vh; */
    /* height: 10vw; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    
    padding-bottom: 1vh;

    /* Применение transition только к свойству transform */
    transition: background-color 0.5s ease;
}

footer {
    bottom: 0;
    width: 100vw;
    background-color: #333;

    color: #fff;

    display: flex;
    justify-content: center;

    /* padding: 1em; */

    height: 8vh;
    font-size: 1vmax;

    position: fixed;
    align-items: center;

    /* Применение transition только к свойству transform */
    transition: background-color 0.5s ease;
}


/*
header:hover {
    background-color: #444;
    opacity: 0.9;
    transition: 300ms;
}
*/

/*
footer:hover {
    background-color: #444;
    opacity: 0.9;
    transition: 300ms;
}
*/

.main-image {
    color: black;
    display: block;
    justify-content: center;

    height: 4.5vw;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.block-menu {
    /* margin-top: 0.5vh;
    margin-bottom: 0.5vh; */
    /* width: 95vw; */
    /* o */
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* o */
    /* background-color: #ffff00; */
}

.but-menu {
    margin-left: 3vw;
    margin-right: 3vw;
    /* o */
    width: auto;
    height: 4.5vw;
    /* o */
    cursor: pointer;
    /* o */
    background-color: #C4CBFC;
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;
    /* border: none; */
    border-color: #ffb300;
    border-radius: 5vh;
    border-width: 0.3vmin;
    opacity: 1;
    transition: 0.5s;
}

.but-menu:hover {
    /* width: 17.1vw; */
    border-radius: 4vh;
    border-width: 0.4vmin;
    /* o */
    background-color: #fb00ff;
    transition: 300ms;
    opacity: 0.9;
    transform: scale(1.1);
}

.but-menu-not-functional {
    margin-left: 3vw;
    margin-right: 3vw;
    /* o */
    width: auto;
    height: 4.5vw;
    /* o */
    cursor: pointer;
    /* o */
    background-color: #a6a5a5;
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;
    /* border: none; */
    border-color: #505050;
    border-radius: 5vh;
    border-width: 0.3vmin;
    opacity: 1;
    transition: 0.5s;
}

main {
    /* margin-top: 1vh; */
    flex: 1;
    /* justify-content: center;
    align-items: center; */
    color: black;
    display: block;
    /* justify-content: center; */
    /* margin: 0.5vh; */
    width: 100vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ffb300; */

    padding-top: 1vh;
    padding-bottom: 10vh;
    /* padding-left: 1vw;
    padding-right: 1vw; */
}

.ssylka {
    color: #0066cc;
    text-decoration: none;
    /* font-size: small; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.ssylka2 {
    color: #0066cc;
    text-decoration: underline;
    /* font-size: small; */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.container {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

.stellazh {
    white-space: nowrap;
    width: 275px;
    height: 350px;
    margin: 5px;
    background-color: #DB2A2A;
    cursor: pointer;
    display: block;
    justify-content: center;
    /* Расположение по центру по горизонтали */
    align-items: center;
    /* Расположение по центру по вертикали */
    border-color: #ff5500;
    border-radius: 5vh;
    border-width: 0.3vmin;
    opacity: 1;
    transition: 0.5s;
}

.stellazh:hover {
    border-radius: 4vh;
    border-width: 0.4vmin;
    /* o */
    background-color: #fb00ff;
    transition: 300ms;
    opacity: 0.9;
    transform: scale(1.05);
}

.stellazh-text {
    /* justify-content: center;
    align-items: center; */
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    /* background-color: #dbcf2a; */
}

.shelfs {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    flex-direction: column;
    /* Добавлено свойство для вертикального расположения */
}

.shelf {
    align-self: center;
    white-space: nowrap;
    width: 200px;
    height: 65px;
    margin: 5px;
    background-color: #DB2A2A;
    cursor: pointer;
    display: block;
    justify-content: center;
    /* Расположение по центру по горизонтали */
    align-items: center;
    /* Расположение по центру по вертикали */
    border-color: #ff5500;
    border-radius: 5vh;
    border-width: 0.3vmin;
    opacity: 1;
    transition: 0.5s;
}

.shelf:hover {
    border-radius: 4vh;
    border-width: 0.4vmin;
    /* o */
    background-color: #fb00ff;
    transition: 300ms;
    opacity: 0.9;
    transform: scale(1.1);
}

.shelf-text {
    /* justify-content: center;
    align-items: center; */
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    /* background-color: #dbcf2a; */
}

#not_found_error {
    font-weight: bold;
    color: red;
    cursor: not-allowed;
}