{% extends 'base.html' %}

{% block title %}
  Стеллаж 2
{% endblock %}

{% block content %}
  <div class="stellazh-text">Стеллаж 2</div>
  <div class="shelfs">
    <button class="shelf" onclick="redirectToAnotherPage8()"><div class="shelf-text">Полка 1</div></button>
    <button class="shelf" onclick="redirectToAnotherPage9()"><div class="shelf-text">Полка 2</div></button>
    <button class="shelf" onclick="redirectToAnotherPage10()"><div class="shelf-text">Полка 3</div></button>
    <button class="shelf" onclick="redirectToAnotherPage11()"><div class="shelf-text">Полка 4</div></button>
    <button class="shelf" onclick="redirectToAnotherPage12()"><div class="shelf-text">Полка 5</div></button>
  </div>
{% endblock %}
