{% extends 'base.html' %}

{% block title %}
  Стеллаж 2
{% endblock %}

{% block content %}
  <div class="stellazh-text">Стеллаж 2</div>
  <div class="shelfs">
    <button class="shelf" onclick="redirectToAnotherPage61()"><div class="shelf-text">Полка 1</div></button>
    <button class="shelf" onclick="redirectToAnotherPage62()"><div class="shelf-text">Полка 2</div></button>
    <button class="shelf" onclick="redirectToAnotherPage63()"><div class="shelf-text">Полка 3</div></button>
    <button class="shelf" onclick="redirectToAnotherPage64()"><div class="shelf-text">Полка 4</div></button>
    <button class="shelf" onclick="redirectToAnotherPage65()"><div class="shelf-text">Полка 5</div></button>
    <button class="shelf" onclick="redirectToAnotherPage66()"><div class="shelf-text">Полка 6</div></button>
    <button class="shelf" onclick="redirectToAnotherPage67()"><div class="shelf-text">Полка 7</div></button>
  </div>
{% endblock %}
