{% extends 'base.html' %}

{% block title %}
  404 — not found
{% endblock %}

{% block content %}
  <h2>The page you are looking for may not be available, it does not exist at all, or it  is under construction...</h2>
  <br />
  <h2>Страница, которую вы ищете, может быть недоступна, она вообще не существует или находится в стадии разработки...</h2>
  <br />
  <img src="{{ url_for('static', filename = 'images/404.png') }}" style="width: 400px; margin-left: auto; margin-right: auto;" />

  <link href="{{ url_for('static', filename = 'scc/style0.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
